:root {
    --bg-color: #1a1a1a;
    --panel-border-depth: 3px;
    --panel-padding: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    background-color: var(--bg-color);
    color: rgba(255, 255, 255, .9);
    overflow: hidden;
    height: 100vh;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    display: grid;
    grid-template-rows: 27px 1fr;
    grid-template-columns: 1fr;
    overscroll-behavior: none;
}
